body{
  font-family: sans-serif;
}

#nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 2em;
  box-shadow: 0.1em 0 0.5em 0 #888888;
  padding: 0.5em;
}

#nav h1{
  transform: rotate(90deg);
}


.canvas-container{
  height: 100%;
  width: 100%;
}
